@font-face {
  font-family: "15307";
  src: url("../fonts/15307.otf");
  font-weight: 400;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #1a2331;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

.r-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 6;
  &__mob {
    display: none;
  }
  &__logo {
    display: inline-block;
    position: relative;
    margin-top: -8px;
    img,
    svg {
      display: block;
      max-width: 200px;
      max-height: 70px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #397bf3;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    position: relative;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    sup {
      font-size: 10px;
    }
    i {
      color: #397bf3;
    }
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #397bf3;
        text-decoration: none;
      }
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
  }
  &__phone {
    display: block;
    margin: 0 0 2px 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #397bf3;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    margin: 0;
    color: #397bf3;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #397bf3;
      text-decoration: none;
    }
  }
}

.r-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 7;
  & > li {
    display: inline-block;
    position: relative;
    &:hover {
      & > a:after {
        opacity: 1;
      }
      & > ul {
        display: block;
      }
    }
    & > a {
      display: inline-block;
      position: relative;
      padding: 22px 0 2px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
        border-radius: 2px;
        background-image: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
        transition: all 0.2s ease-out;
        z-index: 9;
        opacity: 0;
      }
      i {
        color: #397bf3;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        &:after {
          opacity: 1;
        }
        color: #ffffff;
        text-decoration: none;
      }
    }
    & > ul {
      display: none;
      position: absolute;
      width: 240px;
      top: 100%;
      left: -30px;
      margin: 0;
      padding: 20px 10px;
      border-radius: 15px;
      background-color: #397bf3;
      z-index: 8;
      li {
        display: block;
        position: relative;
        width: 100%;
        a {
          display: block;
          position: relative;
          width: 100%;
          padding: 7px 20px;
          border-radius: 19px;
          background-color: transparent;
          color: #ffffff;
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            background: #1a55c1;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.r-top {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -145px;
  background: url("../images/home_top.jpg") no-repeat center center;
  background-size: cover;
  z-index: 0;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 240px 0 140px 0;
    text-align: center;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-size: 80px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &__text {
    display: block;
    margin: 0 0 55px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
  }
  &__button {
    display: inline-block;
    padding: 23px 35px;
    box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
    border-radius: 35px;
    background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.r-home-features {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -50px;
  padding: 0 0 30px 0;
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 30px auto;
    padding: 30px 40px 25px 40px;
    box-shadow: 0 11px 43px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: #232d45;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      width: 100%;
      height: 70px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 16px 0 8px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      font-family: "15307", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
    }
    &__text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.r-home-video {
  display: block;
  position: relative;
  padding: 50px 0 30px 0;
  background: url("../images/home_video_bg.png") no-repeat center bottom 40px;
  text-align: center;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    b,
    strong {
      color: #3774e5;
    }
  }
  &__text {
    display: block;
    margin: 0 0 50px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height: 500px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #1a2331;
    img,
    svg {
      display: block;
      max-width: 250px;
      max-height: 250px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: scale(0.9);
      }
      text-decoration: none;
    }
  }
}

.r-home-form {
  display: block;
  position: relative;
  padding: 30px 0;
  &_item {
    padding-bottom: 120px;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }
  &__info {
    display: block;
    margin: 25px 0 0 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 10px auto;
    img,
    svg {
      display: block;
      position: absolute;
      top: 18px;
      left: 25px;
      max-width: 35px;
      max-height: 35px;
      z-index: 1;
      pointer-events: none;
    }
    input {
      display: block;
      width: 100%;
      padding: 22px 25px 22px 80px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #2c384a;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 21px 35px;
    border: 0;
    outline: none;
    box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
    border-radius: 35px;
    background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-home-for {
  display: block;
  position: relative;
  padding: 40px 0 0 0;
  text-align: center;
  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    b,
    strong {
      color: #3774e5;
    }
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    min-height: 607px;
    overflow: hidden;
    margin: 0 auto 30px auto;
    padding: 235px 15px 40px 15px;
    box-shadow: 0 11px 43px rgba(34, 43, 66, 0.5);
    border-radius: 15px;
    background-color: #232d45;
    text-align: center;
    z-index: 4;
    &__image {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 15px 15px 0 0;
    }
    &__title {
      display: block;
      margin: 0 0 22px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__text {
      display: block;
      flex: 1 1 auto;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
    &__button {
      display: block;
      width: 100%;
      padding: 11px;
      border: 0;
      outline: none;
      box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
      border-radius: 35px;
      background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      font-family: "15307", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: none;
        background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.r-view {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -110px;
  padding: 180px 0 100px 0;
  background-color: #ffffff;
  z-index: 2;
  &__title {
    display: block;
    margin: 0 0 24px 0;
    color: #1a2331;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #1a2331;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
  &__main {
    display: block;
    position: relative;
    width: 100%;
    height: 830px;
    background: url("../images/home_look_bg.png") no-repeat center top;
  }
  &__icon {
    display: block;
    position: relative;
    width: 39px;
    height: 39px;
    background: url("../images/icon_look.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }
  &__description {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 330px;
    padding: 40px 35px 30px 44px;
    box-shadow: 0 17px 49px rgba(70, 125, 243, 0.39);
    border-radius: 20px;
    background: #ffffff url("../images/icon_look.png") no-repeat 0 0;
    color: #1a2331;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    z-index: 5;
  }
  &__dot {
    display: block;
    position: absolute;
    &_1 {
      top: 240px;
      left: 225px;
    }
    &_2 {
      top: 264px;
      left: 350px;
    }
    &_3 {
      top: 207px;
      left: 427px;
    }
    &_4 {
      top: 187px;
      left: 655px;
    }
    &_5 {
      top: 200px;
      left: 893px;
    }
    &_6 {
      top: 342px;
      left: 828px;
    }
    &_7 {
      top: 463px;
      left: 680px;
    }
  }
  &__footer {
    display: block;
    position: relative;
    width: 100%;
    margin-top: -280px;
  }
  &__what {
    display: block;
    margin: 0 0 12px 0;
    color: #1a2331;
    font-size: 16px;
    font-weight: 400;
  }
  &__price {
    display: block;
    margin: 0 0 30px 0;
    color: #1a2331;
    font-size: 25px;
    font-weight: 400;
    b,
    strong {
      color: #4c7ef3;
      font-weight: 400;
    }
  }
  &__button {
    display: inline-block;
    padding: 14px 33px;
    border: 0;
    outline: none;
    box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
    border-radius: 35px;
    background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-home-what {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 35px 0;
  background: #232d44 url("../images/home_what_bg.png") no-repeat center bottom;
  background-size: 100% auto;
  &__title {
    display: block;
    margin: 0 0 56px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px auto;
    &__number {
      display: block;
      position: relative;
      margin: 0;
      text-shadow: 0 0 30px rgba(216, 49, 64, 0.2);
      color: #d7303f;
      font-size: 72px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__title {
      display: block;
      position: relative;
      margin: -5px 0 15px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
    }
  }
}

.r-home-done {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 90px 0 30px 0;
  background: #1a2331 url("../images/done_bg.png") no-repeat center bottom 210px;
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 200px);
    margin-left: -100px;
    padding: 50px 100px 100px 100px;
    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      outline: none;
      border-radius: 999rem;
      box-shadow: 0 0 50px rgba(55, 100, 238, 0.4);
      background-image: linear-gradient(to left, #3653ea 0%, #3b9ffa 100%);
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
      &:before,
      &:after {
        display: none;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(0.9);
        text-decoration: none;
      }
    }
    .swiper-button-prev {
      left: 90px;
      margin-left: -40px;
    }
    .swiper-button-next {
      right: 90px;
      margin-right: -40px;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1280px;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #242d45;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 15px 0 0 15px;
      background-position: center center;
      background-size: cover;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      padding: 50px;
      border-radius: 15px 15px 0 0;
    }
    &__title {
      display: block;
      height: 90px;
      overflow: hidden;
      margin: 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__subtitle {
      display: block;
      margin: 30px 0 12px 0;
      opacity: 0.3;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
    &__info {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
    }
    &__text {
      display: block;
      height: 80px;
      overflow: hidden;
      margin: 40px 0 82px 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
    }
    &__button {
      display: inline-block;
      padding: 14px 40px;
      border: 0;
      outline: none;
      box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
      border-radius: 35px;
      background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      font-family: "15307", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: none;
        background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
        color: #ffffff;
        text-decoration: none;
      }
      &_bordered {
        padding: 13px 30px;
        border: 1px solid #397bf3;
        box-shadow: none;
        background: transparent;
        &:hover {
          background: #397bf3;
          color: #ffffff;
        }
      }
    }
  }
}

.r-home-why {
  display: block;
  padding: 100px 0 90px 0;
  background: #242d45 url("../images/home_why_bg.png") no-repeat center top 180px;
  &__title {
    display: block;
    margin: 0 0 80px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 30px auto;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      width: 100%;
      height: 110px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 28px 0 10px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 20px auto;
    img,
    svg {
      display: block;
      position: absolute;
      top: 12px;
      left: 20px;
      max-width: 28px;
      max-height: 28px;
      z-index: 1;
      pointer-events: none;
    }
    input {
      display: block;
      width: 100%;
      padding: 10px 20px 10px 70px;
      border: 1px solid #465681;
      outline: none;
      border-radius: 999rem;
      background-color: #1f283b;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
    }
  }
  &__button {
    display: inline-block;
    padding: 12px 30px;
    border: 0;
    outline: none;
    box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
    border-radius: 35px;
    background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 0 0 0 20px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
}

.r-home-reviews {
  display: block;
  position: relative;
  padding: 100px 0 30px 0;
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 80px);
    margin-left: -40px;
    padding: 50px 40px 0 40px;
    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 40%;
      width: 80px;
      height: 80px;
      outline: none;
      border-radius: 999rem;
      /* box-shadow: 0 0 50px rgba(55, 100, 238, 0.4); */
      background-image: linear-gradient(to left, #3653ea 0%, #3b9ffa 100%);
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
      &:before,
      &:after {
        display: none;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(0.9);
        text-decoration: none;
      }
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    &__content {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 25px 0;
      padding: 45px 50px 45px 50px;
      /* box-shadow: 0 24px 50px rgba(0, 0, 0, 0.6); */
      border-radius: 15px;
      background-color: #ffffff;
    }
    &__text {
      display: block;
      height: 294px;
      overflow: hidden;
      margin: 0 0 18px 0;
      color: #1a2331;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
    }
    &__link {
      display: block;
      margin: 0;
      color: #d7303f;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #397bf3;
        text-decoration: none;
      }
    }
    &__image {
      display: block;
      width: 120px;
      height: 120px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
    }
    &__date {
      display: block;
      margin: 12px 0 0 0;
      opacity: 0.3;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
    &__name {
      display: block;
      margin: 14px 0 6px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__who {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.r-home-map {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 60px 0 30px 0;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &__main {
    display: block;
    position: relative;
    width: 100%;
    height: 715px;
    padding: 20px 0 0 45px;
    background: url("../images/map_bg.png") no-repeat center top;
  }
  &__dot {
    display: block;
    position: absolute;
    &:hover {
      .r-home-map__content {
        opacity: 1;
      }
    }
    &_1 {
      top: 327px;
      left: -20px;
    }
    &_2 {
      top: 436px;
      left: 46px;
    }
    &_3 {
      top: 389px;
      left: 103px;
    }
    &_4 {
      top: 260px;
      left: 128px;
    }
    &_5 {
      top: 278px;
      left: 153px;
    }
    &_6 {
      top: 313px;
      left: 175px;
    }
    &_7 {
      top: 278px;
      left: 210px;
    }
    &_8 {
      top: 325px;
      left: 211px;
    }
    &_9 {
      top: 360px;
      left: 220px;
    }
    &_10 {
      top: 419px;
      left: 218px;
    }
    &_11 {
      top: 310px;
      left: 240px;
    }
    &_12 {
      top: 235px;
      left: 245px;
    }
    &_13 {
      top: 355px;
      left: 267px;
    }
    &_14 {
      top: 275px;
      left: 283px;
    }
    &_15 {
      top: 382px;
      left: 313px;
    }
    &_16 {
      top: 314px;
      left: 317px;
    }
    &_17 {
      top: 314px;
      left: 408px;
    }
    &_18 {
      top: 400px;
      left: 416px;
    }
    &_19 {
      top: 330px;
      left: 604px;
    }
    &_20 {
      top: 460px;
      left: 900px;
    }
    &_21 {
      top: 240px;
      left: 990px;
    }
    &_22 {
      top: 555px;
      left: 1033px;
    }
  }
  &__icon {
    display: block;
    position: relative;
    max-width: 50px;
    max-height: 50px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  &__content {
    display: block;
    position: absolute;
    opacity: 0;
    left: 100%;
    top: 0;
    width: auto;
    height: 40px;
    margin-left: 10px;
    padding: 14px 16px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    color: #1a2331;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    z-index: 4;
    pointer-events: none;
    transition: all 0.2s ease-out;
    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -6px;
      width: 0;
      height: 0;
      border-top: solid 6px transparent;
      border-bottom: solid 6px transparent;
      border-right: solid 6px #ffffff;
    }
  }
}

.r-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0;
  background: url("../images/home_seo.png") no-repeat right center;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  p {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  img {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 10px auto;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #ffffff;
  }
}

.r-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0;
  &__logo {
    display: block;
    img,
    svg {
      display: block;
      max-width: 200px;
      max-height: 70px;
    }
  }
  &__phone {
    display: block;
    margin: 38px 0 12px 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #397bf3;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 2.4;
        i {
          color: #397bf3;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #397bf3;
          text-decoration: none;
        }
      }
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    a {
      display: inline-block;
      padding: 0 40px 10px 0;
      color: #397bf3;
      font-size: 30px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #d7303f;
        text-decoration: none;
      }
    }
  }
}

.r-bottom {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;
  background: #242d45;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: inline-block;
    margin: 0;
    opacity: 0.3;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
  &__button {
    display: inline-block;
    margin-top: -40px;
    padding: 14px 24px;
    border: 0;
    outline: none;
    box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
    border-radius: 35px;
    background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 30px 0;
    padding: 60px 60px 40px 60px;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #242d45;
    text-align: center;
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    b,
    strong {
      color: #397bf3;
    }
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 20px auto;
    img,
    svg {
      display: block;
      position: absolute;
      top: 12px;
      left: 20px;
      max-width: 28px;
      max-height: 28px;
      z-index: 1;
      pointer-events: none;
    }
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 10px 20px 10px 70px;
      border: 1px solid #465681;
      outline: none;
      border-radius: 999rem;
      background-color: #1f283b;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
    }
    textarea {
      border-radius: 25px;
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
    border-radius: 35px;
    background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 20px 0 0 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
}

.r-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px 0 60px 0;
  list-style: none;
  li {
    display: inline-block;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 300;
    img,
    svg {
      display: inline-block;
      max-width: 14px;
      max-height: 14px;
      margin: 0 15px;
    }
    a {
      position: relative;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #397bf3;
        text-decoration: none;
      }
    }
  }
}

.r-about {
  display: block;
  padding: 0 0 90px 0;
  img {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 10px auto;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #ffffff;
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #397bf3;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
  }
  &__subtitle {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
  }
  &__content {
    display: block;
    p {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.r-papers {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 70px 0 80px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0 0 65px 0;
    color: #1a2331;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
  }
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    padding: 55px 60px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #f3f5f9;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 180px;
    height: 255px;
    overflow: hidden;
    margin: 0 auto;
    background: #ffffff;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    outline: none;
    border-radius: 999rem;
    box-shadow: 0 0 50px rgba(55, 100, 238, 0.4);
    background-image: linear-gradient(to left, #3653ea 0%, #3b9ffa 100%);
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: 0;
    margin-left: -40px;
  }
  .swiper-button-next {
    right: 0;
    margin-right: -40px;
  }
  .swiper-pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 50px 0 0 0;
  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    margin: 0 15px;
    border-radius: 999rem;
    background-color: #b0b5c3;
    opacity: 0.5;
    transition: all 0.2s ease-out;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #3757eb;
  }
}

.r-article {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    padding-bottom: 80px;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 30px auto;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 285px;
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
      border-radius: 15px;
      background-color: #e0e1e6;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 335px;
      min-height: 100px;
      margin: -60px auto 0 auto;
      padding: 20px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
      border-radius: 15px;
      background-color: #242d45;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      transition: box-shadow 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .r-article-card__title {
        box-shadow: 0 0 50px rgba(55, 100, 238, 0.4);
        background: linear-gradient(to top, #3757eb 0%, #3b9dfa 100%);
        color: #ffffff;
      }
      box-shadow: none;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 60px auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: #242d45;
  }
  &__subcontent {
    padding: 70px 45px;
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 300px;
    border-radius: 15px 0 0 15px;
    background-position: center center;
    background-size: cover;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    position: relative;
    margin: 0 0 35px 0;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
  }
  h1 {
    margin: 0 0 50px 0;
    font-size: 50px;
    text-align: center;
  }
  h2 {
    font-size: 40px;
    text-align: center;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
  ul {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    li {
      display: block;
      position: relative;
      padding: 0 0 10px 32px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 13px;
        top: 10px;
        width: 8px;
        height: 8px;
        border-radius: 999rem;
        box-shadow: 0 0 68px rgba(55, 100, 238, 0.6);
        background-color: #ffffff;
      }
    }
    a {
      color: #397bf3;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #d7303f;
        text-decoration: none;
      }
    }
  }
  blockquote {
    display: block;
    position: relative;
    width: 100%;
    margin: 100px auto;
    padding: 60px 70px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: #ffffff;
    color: #1a2331;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
  }
  p {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    a {
      color: #397bf3;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #d7303f;
        text-decoration: none;
      }
    }
  }
  img {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 10px auto;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #ffffff;
  }
  .table {
    margin: 100px 0 30px 0;
  }
  .table td,
  .table th {
    padding: 30px 50px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    &:last-child {
      text-align: right;
    }
  }
  .table thead th {
    padding: 30px 50px;
    border: 0;
    color: #1a2331;
    font-size: 18px;
    font-weight: 700;
    &:first-child {
      border-radius: 13px 0 0 0;
    }
    &:last-child {
      border-radius: 0 13px 0 0;
      text-align: right;
    }
  }
  .table thead {
    background-color: #ffffff;
  }
}

.r-project {
  display: block;
  position: relative;
  padding: 0 0 110px 0;
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 420px;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    background-size: cover;
  }
  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
  }
  &__subtitle {
    display: block;
    margin: 25px 0 10px 0;
    opacity: 0.3;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }
  &__button {
    display: inline-block;
    margin-top: 35px;
    padding: 15px 40px;
    border: 0;
    outline: none;
    box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
    border-radius: 35px;
    background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-project-main {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0;
  background: url("../images/done_bg.png") no-repeat center center;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 70px;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #242d45;
  }
  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
  }
  &__subtitle {
    display: block;
    margin: 30px 0 10px 0;
    opacity: 0.3;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.r-project-photo {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 80px 0 0 0;
  &__title {
    display: block;
    position: relative;
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
  }
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    outline: none;
    border-radius: 999rem;
    box-shadow: 0 0 50px rgba(55, 100, 238, 0.4);
    background-image: linear-gradient(to left, #3653ea 0%, #3b9ffa 100%);
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: 100px;
    margin-left: -40px;
  }
  .swiper-button-next {
    right: 100px;
    margin-right: -40px;
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(800px + 200px);
    overflow: visible !important;
    margin-left: -100px;
    padding: 50px 100px 100px 100px;
  }
  .swiper-slide {
    display: block;
    position: relative;
    width: 480px;
    height: 340px;
    outline: none;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #232d45;
    background-position: center center;
    background-size: cover;
    opacity: 0.3;
  }
  .swiper-slide-active {
    width: 800px;
    height: 560px;
    opacity: 1;
  }
}

.r-item {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/done_bg.png") no-repeat center center;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    box-shadow: 0 0 90px rgba(55, 100, 238, 0.25);
    border-radius: 15px;
    background-color: #232d45;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 0 15px 15px 0;
      background-position: center center;
      background-size: cover;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      padding: 110px 45px;
      border-radius: 15px 15px 0 0;
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__price {
      display: block;
      margin: 45px 0 50px 0;
      color: #397bf3;
      font-size: 33px;
      font-weight: 400;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__button {
      display: block;
      width: 100%;
      padding: 22px;
      border: 0;
      outline: none;
      box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
      border-radius: 999rem;
      background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      font-family: "15307", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: none;
        background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
        color: #ffffff;
        text-decoration: none;
      }
      &_bordered {
        padding: 13px 30px;
        border: 1px solid #397bf3;
        box-shadow: none;
        background: transparent;
        &:hover {
          background: #397bf3;
          color: #ffffff;
        }
      }
    }
  }
}

.r-why {
  display: block;
  position: relative;
  padding: 100px 0 50px 0;
  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 30px auto;
    padding: 0 8px 20px 8px;
    box-shadow: 0 11px 43px rgba(34, 43, 66, 0.5);
    border-radius: 15px;
    background-color: #35466f;
    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 295px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0 0 26px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
      text-align: center;
    }
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      color: #fefeff;
      font-size: 20px;
      font-weight: 400;
      li {
        display: block;
        position: relative;
        padding: 0 0 15px 39px;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: 18px;
          top: 10px;
          width: 8px;
          height: 8px;
          border-radius: 999rem;
          box-shadow: 0 0 68px rgba(55, 100, 238, 0.6);
          background-color: #ffffff;
        }
      }
      a {
        color: #397bf3;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #d7303f;
          text-decoration: none;
        }
      }
    }
  }
}

.r-features {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 50px 0 90px 0;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 80px);
    margin-left: -40px;
    padding: 40px 40px 70px 40px;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 420px;
    margin: 0 auto;
    box-shadow: 0 11px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #232d45;
    background-position: center center;
    background-size: cover;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      min-height: 105px;
      padding: 10px 14px;
      border-radius: 0 0 13px 13px;
      background-color: rgba(36, 45, 69, 0.7);
      color: #ffffff;
      font-size: 19px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
      text-align: center;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .r-features-card__title {
        background-color: rgba(36, 45, 69, 0.9);
      }
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    outline: none;
    border-radius: 999rem;
    /* box-shadow: 0 0 50px rgba(55, 100, 238, 0.4); */
    box-shadow: none;
    background-image: linear-gradient(to left, #3653ea 0%, #3b9ffa 100%);
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: 40px;
    margin-left: -40px;
  }
  .swiper-button-next {
    right: 40px;
    margin-right: -40px;
  }
  .swiper-pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 0;
  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    margin: 0 15px !important;
    border-radius: 999rem;
    background-color: #ffffff;
    opacity: 1;
    transition: all 0.2s ease-out;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #3757eb;
  }
}

.r-po {
  display: block;
  position: relative;
  padding: 90px 0 50px 0;
  background: #ffffff url("../images/po_bg.png") no-repeat center top 65px;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #1a2331;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px auto;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 128px;
      border-radius: 999rem;
      box-shadow: 0 0 43px rgba(57, 123, 243, 0.7);
      background-color: #397bf3;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 25px 0 15px 0;
      color: #1a2331;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__text {
      display: block;
      margin: 0;
      color: #1a2331;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
    }
  }
}

.r-help {
  display: block;
  padding: 75px 0 20px 0;
  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 30px auto;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 104px;
      height: 105px;
      margin-left: -30px;
      border-radius: 999rem;
      background-color: #232d45;
      z-index: 0;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      position: relative;
      margin: -20px 0 10px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
      z-index: 2;
    }
    &__text {
      display: block;
      position: relative;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
      z-index: 2;
    }
    &__button {
      display: inline-block;
      position: relative;
      padding: 12px 44px;
      border: 0;
      outline: none;
      box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
      border-radius: 999rem;
      background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      font-family: "15307", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
      z-index: 2;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: none;
        background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
        color: #ffffff;
        text-decoration: none;
      }
      &_bordered {
        padding: 13px 30px;
        border: 1px solid #397bf3;
        box-shadow: none;
        background: transparent;
        &:hover {
          background: #397bf3;
          color: #ffffff;
        }
      }
    }
  }
}

.r-wow {
  display: block;
  position: relative;
  padding: 70px 0 90px 0;
  background-color: #232d45;
  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 0 auto 30px auto;
    padding: 125px 0 0 0;
    text-align: center;
    &__image {
      display: block;
      position: absolute;
      top: 0;
      right: 45px;
      max-width: 160px;
      max-height: 140px;
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
    }
  }
}

.r-result {
  display: block;
  position: relative;
  padding: 90px 0;
  background: #1a2331 url("../images/result_bg.png") no-repeat center top;
  background-size: 100% auto;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 60px;
    background: url("../images/home_why_bg.png") no-repeat center top 100px;
  }
  &__title {
    display: block;
    margin: 0 0 80px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
    b,
    strong {
      color: #397bf3;
      font-weight: 400;
    }
  }
  &__info {
    display: block;
    margin: 10px 0 0 0;
    text-shadow: 0 0 50px rgba(55, 100, 238, 0.4);
    color: #3774e5;
    font-size: 30px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 30px auto;
    padding: 50px;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #ffffff;
    background-position: right top;
    background-repeat: no-repeat;
    &__title {
      display: block;
      margin: 0;
      padding-bottom: 20px;
      color: #1a2331;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.1;
      text-transform: uppercase;
      font-family: "15307", Helvetica, Arial, sans-serif;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      margin: 10px 0 0 0;
      color: #1a2331;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.r-map {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 200px 0;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 55px 50px 60px 50px;
    box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background-color: #242d45;
    z-index: 3;
  }
  &__title {
    display: block;
    margin: 0 0 5px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
  }
  &__what {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
  }
  &__subtitle {
    display: block;
    margin: 20px 0 6px 0;
    opacity: 0.3;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
  sup {
    font-size: 12px;
  }
  &__info {
    display: block;
    margin: 0;
    color: #ffffff;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 400;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #397bf3;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: block;
    margin: 24px 0 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #397bf3;
      text-decoration: none;
    }
  }
}

.r-contacts {
  display: block;
  position: relative;
  width: 100%;
  margin: -100px 0 30px 0;
  padding: 55px 100px;
  box-shadow: 0 24px 68px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  background-color: #242d45;
  text-align: center;
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "15307", Helvetica, Arial, sans-serif;
    b,
    strong {
      color: #397bf3;
    }
  }
  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 20px auto;
    img,
    svg {
      display: block;
      position: absolute;
      top: 12px;
      left: 20px;
      max-width: 28px;
      max-height: 28px;
      z-index: 1;
      pointer-events: none;
    }
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 10px 20px 10px 70px;
      border: 1px solid #465681;
      outline: none;
      border-radius: 999rem;
      background-color: #1f283b;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
    }
    textarea {
      min-height: 124px;
      border-radius: 25px;
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 12px;
    border: 0;
    outline: none;
    box-shadow: 0 0 50px rgba(219, 53, 68, 0.25);
    border-radius: 35px;
    background: linear-gradient(to left, #d7303f 0%, #ec4e5d 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "15307", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      background: linear-gradient(to left, #fc6d79 0%, #ff7e8b 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 36px 0 0 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
}

#map {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .r-header__mob {
    display: block;
    position: absolute;
    right: 0;
    top: 28px;
    max-width: 42px;
    max-height: 42px;
    filter: brightness(0) invert(1);
  }
  .r-view {
    display: none;
  }
  .r-top__title {
    font-size: 32px;
  }
  .r-home-video__title {
    font-size: 30px;
  }
  .r-home-what__title {
    font-size: 28px;
  }
  .r-nav > li:hover > ul {
    display: none;
  }
  .r-header__logo {
    order: -1;
  }
  .r-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .r-header__right {
    display: none;
    align-items: flex-start;
  }
  .r-header__info {
    display: none;
  }
  .r-modal__content {
    padding: 50px 20px 20px 20px;
  }
  .r-nav {
    display: none;
  }
  .r-nav > li {
    display: block;
    width: 100%;
    text-align: center;
    a {
      display: block;
      width: 100%;
    }
  }
  .r-top {
    margin: 0;
    background: transparent;
  }
  .r-top__content {
    min-height: auto;
    padding: 60px 0;
  }
  .r-top__text {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .r-top__button {
    padding: 12px;
    font-size: 18px;
  }
  .r-home-features {
    margin: 0;
  }
  .r-home-video {
    padding: 0 0 30px 0;
  }
  .r-home-video__text {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .r-home-video__video {
    min-height: 300px;
  }
  .r-home-form__title {
    font-size: 26px;
  }
  .r-home-for__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .r-home-what {
    padding: 40px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
  .r-home-done {
    padding: 40px 0;
  }
  .r-home-done__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .r-home-done__cards {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 100px 0;
  }
  .r-home-done-card {
    box-shadow: none;
    &__image {
      border-radius: 15px 15px 0 0;
    }
    & > .row {
      border-radius: 15px;
      & > div:first-child {
        min-height: 200px;
        border-radius: 15px 15px 0 0;
      }
    }
  }
  .r-home-done-card__content {
    padding: 20px 30px;
  }
  .r-home-done-card__title {
    height: 66px;
    font-size: 22px;
  }
  .r-home-done-card__subtitle {
    margin: 10px 0 4px 0;
  }
  .r-home-done-card__text {
    margin: 20px 0;
  }
  .r-home-done-card__button {
    display: block;
    width: 100%;
    margin: 5px auto 0 auto;
  }
  .r-home-why {
    padding: 40px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 28px;
    }
  }
  .r-home-why__button {
    display: block;
    width: 100%;
  }
  .r-home-why__info {
    display: block;
    margin: 20px auto 0 auto;
    text-align: center;
  }
  .r-home-reviews {
    padding: 40px 0;
  }
  .r-home-reviews__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .r-home-done__cards .swiper-button-next,
  .r-home-done__cards .swiper-button-prev {
    top: auto;
    bottom: 0;
    box-shadow: none;
  }
  .r-home-reviews__cards {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 100px 0;
  }
  .r-home-reviews__cards .swiper-button-next,
  .r-home-reviews__cards .swiper-button-prev {
    top: auto;
    bottom: 0;
    box-shadow: none;
  }
  .r-home-map {
    padding: 20px 0;
    &__main {
      height: 300px;
      background-size: contain;
    }
  }
  .r-bottom__button {
    margin-bottom: 10px;
  }
  .r-bottom__info {
    line-height: 2;
  }
  .r-breadcrumps {
    padding: 20px 0 40px 0;
  }
  .r-about {
    padding-bottom: 40px;
  }
  .r-papers {
    padding: 40px 0;
  }
  .r-papers__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .r-papers .swiper-button-prev {
    margin-left: -15px;
  }
  .r-papers .swiper-button-next {
    margin-right: -15px;
  }
  .r-article__cards {
    padding-bottom: 20px;
  }
  .r-article__image {
    border-radius: 15px;
  }
  .r-article__subcontent {
    padding: 30px 40px;
  }
  .r-article blockquote {
    margin: 30px auto;
    padding: 30px 20px;
  }
  .r-article .table {
    margin: 30px 0;
  }
  .r-article .table thead th {
    padding: 20px 10px;
    font-size: 14px;
  }
  .r-article .table td,
  .r-article .table th {
    padding: 20px 10px;
    font-size: 14px;
  }
  .r-project__image {
    height: 300px;
    margin: 0 auto 20px auto;
  }
  .r-project {
    padding-bottom: 30px;
  }
  .r-project-main__content {
    padding: 30px 20px;
  }
  .r-project-photo {
    padding: 30px 0 0 0;
  }
  .r-project-photo__cards {
    width: 100%;
    margin: 0;
    padding: 30px 0 100px 0;
  }
  .r-project-photo .swiper-slide {
    width: 100% !important;
    max-width: 800px !important;
    height: 300px;
    box-shadow: none;
  }
  .r-project-photo__cards .swiper-button-next,
  .r-project-photo__cards .swiper-button-prev {
    top: auto;
    bottom: 0;
    box-shadow: none;
  }
  .r-item-card__content {
    padding: 30px 40px;
  }
  .r-item-card__title {
    font-size: 28px;
  }
  .r-item-card__price {
    margin: 20px 0;
    font-size: 24px;
  }
  .r-item-card__button {
    padding: 12px 8px;
    font-size: 16px;
  }
  .r-why {
    padding: 20px 0 40px 0;
  }
  .r-why__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .r-features {
    padding: 0 0 20px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 28px;
    }
  }
  .r-features__cards {
    width: 100%;
    margin: 0;
    padding: 20px 0 30px 0;
  }
  .r-features-card {
    box-shadow: none;
  }
  .r-po {
    padding: 40px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 28px;
    }
  }
  .r-home-video {
    padding-top: 20px;
  }
  .r-home-form_item {
    padding-bottom: 40px;
  }
  .r-help {
    padding: 40px 0 20px 0;
  }
  .r-help__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .r-help-card__image {
    margin-left: -10px;
  }
  .r-wow {
    padding: 40px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 28px;
    }
  }
  .r-result {
    padding: 40px 0;
    &__title {
      margin-bottom: 20px;
      font-size: 28px;
    }
  }
  .r-result-card {
    padding: 30px 20px;
  }
  .r-result-card__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    & > span:first-child {
      font-weight: 700;
    }
  }
  .r-result__content {
    padding: 0;
  }
  .r-map {
    padding: 20px 0;
  }
  #map {
    position: relative;
    height: 350px;
    margin: 20px 0;
  }
  .r-contacts {
    margin: 0;
    padding: 30px 20px;
  }
  .r-contacts__button {
    margin-bottom: 20px;
  }
  .r-home-map {
    display: none;
  }
  #myVideo {
    display: none;
  }
}
